* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  width: calc(100vw - (100vw - 100%));
  scroll-behavior: smooth; }

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.418);
  background-image: url(../../img/derecho-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .header__navbar {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: "Bebas Neue", cursive;
    background-color: #14274a1a;
    margin-bottom: 150px; }
    .header__navbar__responsive {
      display: none; }
    .header__navbar__logo {
      max-width: 150px; }
      .header__navbar__logo img {
        border-radius: 50%;
        margin-left: 20px; }
    .header__navbar__lista {
      width: auto;
      display: flex;
      flex-direction: row;
      list-style: none;
      text-decoration: underline;
      letter-spacing: 1px;
      justify-content: center;
      text-align: center;
      margin: 0;
      gap: 10px; }
      .header__navbar__lista :hover {
        color: #00f6da; }
      .header__navbar__lista li {
        width: auto;
        margin-right: 5px; }
      .header__navbar__lista a {
        font-size: 25px;
        color: #ffdb82;
        letter-spacing: 3px; }
    .header__navbar__redes {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      text-align: center;
      gap: 2vw;
      padding-right: 20px; }
      .header__navbar__redes :hover {
        color: #ffdb82; }
      .header__navbar__redes a {
        width: auto;
        font-size: 2vw;
        color: #00f6da; }
  .header__intro {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    .header__intro__titulos {
      width: auto;
      display: flex;
      flex-direction: column; }
      .header__intro__titulos__h1 {
        color: #00f6da;
        -webkit-text-stroke: 2px black;
        font-size: 80px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        letter-spacing: 1px; }
      .header__intro__titulos__h2 {
        color: #00f6da;
        -webkit-text-stroke: 2px black;
        font-family: "Bebas Neue", cursive;
        font-size: 133px;
        letter-spacing: 1px;
        font-weight: 500; }
      .header__intro__titulos__linea {
        width: 20vw;
        height: 2px;
        background-color: #ffdb82;
        margin-bottom: 15px; }
      .header__intro__titulos__h3 {
        color: #ffdb82;
        font-family: "Roboto", sans-serif;
        font-size: 40px;
        letter-spacing: 0.5px;
        font-weight: 300; }
    .header__intro__imagen {
      max-width: 350px; }
      .header__intro__imagen img {
        border-radius: 50%; }

@media only screen and (max-width: 1050px) {
  .header {
    height: auto; }
  .header__navbar {
    display: none; }
  .header__intro__titulos {
    padding-top: 40px;
    padding-bottom: 40px; }
  .header__intro {
    flex-direction: column; }
  .header__intro__titulos__h1 {
    font-size: 10vw;
    -webkit-text-stroke: 0.2vw black; }
  .header__intro__titulos__h2 {
    font-size: 15vw;
    -webkit-text-stroke: 0.2vw black; }
  .header__intro__titulos__linea {
    width: 100px;
    margin-bottom: 5px; }
  .header__intro__titulos__h3 {
    font-size: 3.5vw;
    letter-spacing: 2px; }
  .header__navbar__responsive {
    display: initial;
    margin: 0;
    padding: 0;
    padding-bottom: 50px; }
    .header__navbar__responsive .navbar-toggler {
      border-radius: 0.1%; }
      .header__navbar__responsive .navbar-toggler-icon {
        size: 100px;
        background: #fbde83;
        background: radial-gradient(circle, #fbde83 7%, rgba(0, 245, 220, 0.745536) 31%);
        border-radius: 10%;
        border: 1px solid rgba(2, 2, 2, 0.603);
        margin-left: 80%;
        font-size: x-large; }
    .header__navbar__responsive .nav-item {
      font-size: 5vw; }
    .header__navbar__responsive .nav-link {
      color: #ffdb82;
      text-decoration: none;
      font-size: 4vw; }
    .header__navbar__responsive .dropdown-menu {
      background-color: transparent;
      font-size: 4vw; }
    .header__navbar__responsive .dropdown-item {
      color: #ffdb82;
      text-align: center;
      font-size: 8vw; } }

.sobremi {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .sobremi__info {
    height: auto;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .sobremi__info__texto {
      max-width: 650px;
      margin: 0 auto;
      height: auto;
      padding: 100px 15px 25px 15px;
      margin-top: -90px;
      background-color: #00f6da50;
      text-align: center;
      font-size: 1rem;
      letter-spacing: 0.1em;
      line-height: 30px;
      position: relative;
      border-radius: 15px; }
      .sobremi__info__texto__letra {
        font-size: 2rem; }
      .sobremi__info__texto__titulo {
        width: auto;
        height: auto;
        font-size: 2rem;
        letter-spacing: 4px; }
    .sobremi__info__img {
      width: auto;
      height: auto;
      border-radius: 50%;
      z-index: 9; }
  .sobremi__video {
    max-width: 700px;
    min-height: 350px;
    max-height: 950px;
    margin: 0 auto;
    border-radius: 15px; }

@media only screen and (max-width: 950px) {
  .sobremi {
    flex-direction: column; }
    .sobremi__info {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px; } }

.tips {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #14274a; }
  .tips__titulo {
    display: flex;
    flex-direction: row;
    min-width: 320px;
    max-width: 410px;
    height: 80px;
    line-height: 75px;
    margin: 0 auto;
    border-radius: 150px;
    justify-content: space-between;
    margin-bottom: 150px;
    border: 5px solid white; }
    .tips__titulo__container {
      display: flex;
      background-color: #fff;
      width: 95px;
      height: 75px;
      position: relative;
      right: 5px;
      bottom: 2px;
      border-radius: 50%;
      justify-content: center;
      align-items: center; }
      .tips__titulo__container__megafono {
        width: 50px;
        height: 45px; }
        .tips__titulo__container__megafono img {
          vertical-align: unset; }
    .tips__titulo__texto {
      width: 100%;
      color: #fff;
      text-align: center;
      letter-spacing: 0px;
      font-weight: 100;
      font-size: 55px;
      font-family: "Bebas Neue", cursive; }
  .tips__parrafo {
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 0 5px 100px 5px;
    text-align: justify;
    letter-spacing: 2px;
    font-family: "Lato", sans-serif;
    font-size: x-large;
    color: #fff; }
  .tips__videos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto; }
    .tips__videos__card {
      max-width: 650px;
      height: auto;
      margin: 0 auto;
      padding: 5px 15px 20px 15px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      border-radius: 5px; }
      .tips__videos__card__titulo {
        width: 100%;
        height: 80px;
        color: #ffdb82;
        text-align: center;
        letter-spacing: 5px;
        font-weight: 500;
        font-size: calc(1.5rem + 1vw);
        font-family: "Bebas Neue", cursive;
        text-shadow: #0c0c0c 1px 1px 5px; }
        .tips__videos__card__titulo__special {
          letter-spacing: 2px; }
      .tips__videos__card__link {
        width: 100%;
        min-height: 350px;
        margin: 0 auto;
        margin-bottom: 50px;
        border-radius: 15px; }

@media only screen and (max-width: 600px) {
  .tips__titulo {
    margin-bottom: 100px; }
  .tips__parrafo {
    text-align: justify;
    letter-spacing: 1px; }
  .tips__titulo__texto {
    font-size: calc(2.3rem + 1.8vw); }
  .tips__videos__card {
    padding: 25px 0px;
    border-radius: 0px; }
  .tips__videos__card__titulo {
    font-size: calc(1.5rem + 1.5vw); }
  .tips__videos__card__link {
    border-radius: 0%;
    margin-bottom: 10px; } }

.entrevistas {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px; }
  .entrevistas__titulo {
    display: flex;
    flex-direction: row;
    min-width: 320px;
    max-width: 410px;
    height: 80px;
    line-height: 75px;
    margin: 0 auto;
    border-radius: 150px;
    justify-content: space-between;
    margin-bottom: 150px;
    border: 5px solid #14274a; }
    .entrevistas__titulo__container {
      display: flex;
      background-color: #14274a;
      width: 95px;
      height: 75px;
      position: relative;
      right: 5px;
      bottom: 2px;
      border-radius: 50%;
      justify-content: center;
      align-items: center; }
      .entrevistas__titulo__container__microphone {
        width: 50px;
        height: 50px; }
        .entrevistas__titulo__container__microphone img {
          vertical-align: unset; }
    .entrevistas__titulo__texto {
      width: 100%;
      color: #14274a;
      text-align: center;
      letter-spacing: 0px;
      font-weight: 100;
      font-size: 55px;
      font-family: "Bebas Neue", cursive; }
  .entrevistas__parrafo {
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 0 5px 100px 5px;
    text-align: justify;
    letter-spacing: 2px;
    font-family: "Lato", sans-serif;
    font-size: x-large;
    color: #14274a; }
    .entrevistas__parrafo__redessociales {
      font-weight: 700;
      font-size: x-large;
      text-decoration: none;
      font-style: italic;
      color: #00f6da;
      text-shadow: 2px 2px 1px #083ce7; }
  .entrevistas__videos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto; }
    .entrevistas__videos__card {
      max-width: 600px;
      height: auto;
      margin: 0 auto;
      padding: 30px 25px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      background-color: #14274ada;
      border-radius: 5px; }
      .entrevistas__videos__card__titulo {
        width: 100%;
        padding-bottom: 10px;
        color: #ffdb82;
        text-align: start;
        letter-spacing: 5px;
        font-weight: 500;
        font-size: calc(1.5rem + 1vw);
        font-family: "Bebas Neue", cursive;
        text-shadow: 2px 2px black; }
      .entrevistas__videos__card__parrafo {
        width: 100%;
        min-height: 220px;
        max-height: 400px;
        margin: 0 auto;
        line-height: 30px;
        text-align: justify;
        letter-spacing: 1px;
        font-family: "Lato", sans-serif;
        font-size: large;
        font-weight: 200;
        color: #fff; }
      .entrevistas__videos__card__link {
        width: 100%;
        min-height: 350px;
        margin: 0 auto;
        border-radius: 5px; }

@media only screen and (max-width: 600px) {
  .entrevistas__titulo {
    margin-bottom: 100px; }
  .entrevistas__parrafo {
    text-align: justify;
    letter-spacing: 0px; }
  .entrevistas__videos__card {
    padding: 25px 0px;
    border-radius: 0px; }
  .entrevistas__videos__card__titulo {
    text-align: center; }
  .entrevistas__videos__card__parrafo {
    text-align: justify;
    letter-spacing: 0px;
    padding: 5px; }
  .entrevistas__videos__card__link {
    border-radius: 0%; } }

.marcas {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #14274a; }
  .marcas__titulo {
    display: flex;
    flex-direction: row;
    min-width: 320px;
    max-width: 410px;
    height: 80px;
    line-height: 75px;
    margin: 0 auto;
    border-radius: 150px;
    justify-content: space-between;
    margin-bottom: 150px;
    border: 5px solid #fff; }
    .marcas__titulo__texto {
      width: 100%;
      color: #fff;
      text-align: center;
      letter-spacing: 0px;
      font-weight: 100;
      font-size: 55px;
      font-family: "Bebas Neue", cursive; }
    .marcas__titulo__handshake {
      width: 100px;
      height: 75px;
      position: relative;
      right: 2px;
      bottom: 2px;
      font-size: 45px;
      line-height: 75px;
      text-align: center;
      color: #14274a;
      background-color: #fff;
      border-radius: 50%; }
  .marcas__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%; }
    .marcas__container__card {
      display: flex;
      flex-direction: column;
      max-width: 450px;
      height: auto;
      margin: 0 auto;
      padding: 30px 25px;
      margin-bottom: 30px;
      background-color: #fff;
      border-radius: 5px;
      text-decoration: none; }
      .marcas__container__card__image {
        width: 300px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 40px; }
      .marcas__container__card__texto1 {
        color: #14274a;
        text-align: start;
        letter-spacing: 1px;
        font-family: "Lato", sans-serif;
        font-size: large;
        margin-bottom: 20px; }
      .marcas__container__card__texto2 {
        color: #14274a;
        text-align: start;
        letter-spacing: 1px;
        font-family: "Lato", sans-serif;
        font-size: large;
        margin-bottom: 20px; }
        .marcas__container__card__texto2__porcentaje {
          font-weight: bold; }
      .marcas__container__card__codigo {
        color: #14274a;
        font-weight: bold;
        text-align: start;
        letter-spacing: 1px;
        font-family: "Lato", sans-serif;
        font-size: x-large;
        margin-bottom: 35px; }

.donaciones {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px; }
  .donaciones__titulo {
    display: flex;
    flex-direction: row;
    min-width: 320px;
    max-width: 410px;
    height: 80px;
    line-height: 75px;
    margin: 0 auto;
    border-radius: 150px;
    justify-content: space-between;
    margin-bottom: 150px;
    border: 5px solid #14274a; }
    .donaciones__titulo__container {
      display: flex;
      background-color: #14274a;
      width: 95px;
      height: 75px;
      position: relative;
      right: 5px;
      bottom: 2px;
      border-radius: 50%;
      justify-content: center;
      align-items: center; }
      .donaciones__titulo__container__handpoint {
        width: 35px;
        height: 55px; }
        .donaciones__titulo__container__handpoint img {
          vertical-align: unset; }
    .donaciones__titulo__texto {
      width: 100%;
      color: #14274a;
      text-align: center;
      letter-spacing: 0px;
      font-weight: 100;
      font-size: 55px;
      font-family: "Bebas Neue", cursive; }
  .donaciones__parrafo {
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
    padding: 0 5px 150px 5px;
    text-align: justify;
    letter-spacing: 2px;
    font-family: "Lato", sans-serif;
    font-size: x-large;
    color: #14274a; }
  .donaciones__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px; }
    .donaciones__items :hover {
      -webkit-animation: jello-horizontal 1.6s both;
      animation: jello-horizontal 1.6s both; }

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
    .donaciones__items__link {
      width: 200px;
      height: 200px; }
      .donaciones__items__link__mp {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border: 15px solid #14274a;
        border-radius: 50%;
        text-align: center;
        background-image: url(../../img/mp.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
      .donaciones__items__link__paypal {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border: 15px solid #14274a;
        border-radius: 50%;
        text-align: center;
        background-image: url(../../img/ppal.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
      .donaciones__items__link__patreon {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border: 15px solid #14274a;
        border-radius: 50%;
        text-align: center;
        background-image: url(../../img/p.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }

@media only screen and (max-width: 600px) {
  .donaciones__titulo {
    margin-bottom: 100px; }
  .donaciones__parrafo {
    text-align: justify;
    letter-spacing: 0px;
    padding: 5px 5px 100px 5px; } }

.unpocomassobremi {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #14274a; }
  .unpocomassobremi__titulo {
    display: flex;
    flex-direction: row;
    min-width: 320px;
    max-width: 410px;
    height: 80px;
    line-height: 75px;
    margin: 0 auto;
    border-radius: 150px;
    justify-content: space-between;
    margin-bottom: 150px;
    border: 5px solid #fff; }
    .unpocomassobremi__titulo__texto {
      width: 100%;
      color: #fff;
      text-align: center;
      letter-spacing: 0px;
      font-weight: 100;
      font-size: 55px;
      font-family: "Bebas Neue", cursive; }
    .unpocomassobremi__titulo__userplus {
      width: 100px;
      height: 75px;
      position: relative;
      right: 2px;
      bottom: 2px;
      font-size: 45px;
      line-height: 75px;
      text-align: center;
      color: #14274a;
      background-color: #fff;
      border-radius: 50%; }
  .unpocomassobremi__parrafo {
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 0 5px 150px 5px;
    text-align: justify;
    letter-spacing: 2px;
    font-family: "Lato", sans-serif;
    font-size: x-large;
    color: #fff; }
    .unpocomassobremi__parrafo__effect {
      font-weight: 600;
      color: #ffdb82; }
  .unpocomassobremi__imagen {
    min-width: 325px;
    max-width: 1500px;
    height: 300px;
    margin: 0 auto;
    background-image: url(../../img/vlogs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px; }
    .unpocomassobremi__imagen__click {
      height: 100%;
      width: 100%; }

@media only screen and (max-width: 600px) {
  .unpocomassobremi__parrafo {
    padding: 0 5px 50px 5px; }
  .unpocomassobremi__titulo__texto {
    font-size: 50px; } }

@media only screen and (max-width: 700px) {
  .unpocomassobremi__imagen {
    background-image: url(../../img/vlogs2.jpg);
    background-size: contain; } }

.footer {
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .footer__mapasitio {
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 1px;
    font-size: x-large;
    color: #14274a; }
    .footer__mapasitio__h5 {
      font-size: xx-large; }
    .footer__mapasitio__lista {
      display: block;
      list-style: none; }
      .footer__mapasitio__lista__li a {
        font-size: 10px;
        color: #14274a;
        font-size: 15px; }
  .footer__linea {
    width: 2px;
    height: 300px;
    background-color: #14274a; }
  .footer__contacto {
    color: #14274a;
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: end;
    text-decoration: none;
    font-family: "Bebas Neue", cursive; }
    .footer__contacto__h5 {
      font-size: xx-large; }
    .footer__contacto a {
      width: auto;
      align-self: end;
      color: #14274a;
      font-size: 32px; }

.toTop {
  color: #ffdb82;
  position: fixed;
  z-index: 1;
  font-size: 2em;
  bottom: 3%;
  right: 35px;
  width: 10px;
  height: 10px; }

.scrolldown a {
  display: flex;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
  cursor: auto;
  margin-top: 200px;
  margin-bottom: 50px; }

.scrolldown a:hover {
  opacity: 0.5; }

#scrollDown a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #00f6da;
  border-radius: 50px;
  box-sizing: border-box; }

#scrollDown a span::before {
  position: absolute;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #ffdb82;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box; }

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }

@media only screen and (max-width: 1050px) {
  .scrolldown {
    display: none; } }
