* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  width: calc(100vw - (100vw - 100%));
  font-family: "Bebas Neue", cursive;
  scroll-behavior: smooth; }

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: rgba(189, 174, 174, 0.596);
  background-image: url(../../img/up.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: screen; }
  .header__navbar {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    .header__navbar__responsive {
      display: none; }
    .header__navbar__logo {
      max-width: 150px; }
      .header__navbar__logo img {
        border-radius: 50%; }
    .header__navbar__lista {
      width: auto;
      display: flex;
      flex-direction: row;
      list-style: none;
      text-decoration: underline;
      letter-spacing: 2px;
      justify-content: center;
      text-align: center;
      margin: 0;
      gap: 1em;
      text-shadow: 1px 2px #000000; }
      .header__navbar__lista :hover {
        color: #00f5dc; }
      .header__navbar__lista li {
        width: auto;
        margin-right: 20px; }
      .header__navbar__lista a {
        font-size: 3vw;
        color: #fbde83; }
    .header__navbar__redes {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      text-align: center;
      gap: 1em;
      text-shadow: 0.5px 1px #00000086; }
      .header__navbar__redes :hover {
        color: #fbde83; }
      .header__navbar__redes a {
        width: auto;
        font-size: 3vw;
        color: #00f5dc; }
  .header__intro {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    .header__intro__titulos {
      width: auto;
      display: flex;
      flex-direction: column; }
      .header__intro__titulos__h1 {
        font-size: 10vw;
        color: #00f5dc;
        text-shadow: 3px 2px #000000; }
      .header__intro__titulos__linea {
        width: 30vw;
        height: 2px;
        background-color: #fbde83;
        margin-bottom: 15px; }
      .header__intro__titulos__h2 {
        font-size: 3vw;
        color: #fbde83;
        text-shadow: 1px 2px #000000;
        letter-spacing: 4px; }
    .header__intro__imagen {
      max-width: 200px; }
      .header__intro__imagen img {
        border-radius: 50%; }

@media only screen and (max-width: 950px) {
  .header__navbar {
    display: none; }
  .header__intro__titulos__h1 {
    font-size: 14vw; }
  .header__intro__titulos__linea {
    width: 50vw; }
  .header__intro__titulos__h2 {
    font-size: 4vw; }
  .header__navbar__responsive {
    display: initial;
    margin: 0;
    padding: 0; }
    .header__navbar__responsive .navbar-toggler {
      border-radius: 0.1%; }
      .header__navbar__responsive .navbar-toggler-icon {
        size: 100px;
        background: #fbde83;
        background: radial-gradient(circle, #fbde83 7%, rgba(0, 245, 220, 0.745536) 31%);
        border-radius: 10%;
        border: 1px solid rgba(2, 2, 2, 0.603);
        margin-left: 80%;
        font-size: x-large; }
    .header__navbar__responsive .nav-item {
      color: #00f5dc; }
    .header__navbar__responsive .nav-link {
      color: #00f5dc; }
    .header__navbar__responsive .dropdown-menu {
      background-color: transparent;
      font-size: 20px; }
    .header__navbar__responsive .dropdown-item {
      color: #fbde83;
      text-align: center;
      font-size: 10vw; } }

.main {
  width: 100%;
  height: 100vh; }

.footer {
  width: 100%;
  height: 100vh;
  background: red; }

.toTop {
  color: #00f5dc;
  position: fixed;
  z-index: 1;
  font-size: 2em;
  bottom: 3%;
  left: 98%;
  width: 10px;
  height: 10px; }

.demo a {
  display: flex;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
  cursor: auto;
  margin-top: 20px; }

.demo a:hover {
  opacity: 0.5; }

#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #00f5dc;
  border-radius: 50px;
  box-sizing: border-box; }

#section10 a span::before {
  position: absolute;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fbde83;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box; }

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }
