.entrevistas {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: $colorBgSobremi;

  &__titulo {
    font-size: 5vw;
    color: $colorAmarillo;
    text-shadow: 1px 2px #000000;
    letter-spacing: 4px;
  }

  &__parrafo {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 30px;

    &__redessociales {
      font-size: 1.5rem;
      font-weight: bolder;
      color: crimson;
    }
  }

  &__videos {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__reproductor {
      max-width: 900px;
      height: 500px;
      padding-bottom: 20px;
    }
  }
}
