.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  // background-color: #000000;
  padding-bottom: 50px;
  background-color: rgba(189, 174, 174, 0.596);
  background-image: url(/img/up.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;

  // INICIO NAVBAR
  &__navbar {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    &__responsive {
      display: none;
    }

    &__logo {
      max-width: 150px;
      img {
        border-radius: 50%;
      }
    }

    &__lista {
      width: auto;

      display: flex;
      flex-direction: row;

      list-style: none;
      text-decoration: underline;
      letter-spacing: 2px;

      justify-content: center;
      text-align: center;
      margin: 0;
      gap: 1em;
      text-shadow: 1px 2px #000000;
      :hover {
        color: $colorVerde;
      }

      li {
        width: auto;
        margin-right: 20px;
      }

      a {
        font-size: 3vw;
        color: $colorAmarillo;
      }
    }

    &__redes {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      text-align: center;
      gap: 1em;
      text-shadow: 0.5px 1px #00000086;
      :hover {
        color: $colorAmarillo;
      }

      a {
        width: auto;
        font-size: 3vw;
        color: $colorVerde;
      }
    }
  }
  // FIN NAVBAR

  &__intro {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;

    &__titulos {
      width: auto;
      display: flex;
      flex-direction: column;

      &__h1 {
        font-size: 10vw;
        color: $colorVerde;
        text-shadow: 3px 2px #000000;
      }

      &__linea {
        width: 30vw;
        height: 2px;
        background-color: $colorAmarillo;
        margin-bottom: 15px;
      }

      &__h2 {
        font-size: 3vw;
        color: $colorAmarillo;
        text-shadow: 1px 2px #000000;
        letter-spacing: 4px;
      }
    }

    &__imagen {
      max-width: 200px;
      img {
        border-radius: 50%;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .header__navbar {
    display: none;
  }

  .header__intro__titulos__h1 {
    font-size: 14vw;
  }

  .header__intro__titulos__linea {
    width: 50vw;
  }

  .header__intro__titulos__h2 {
    font-size: 4vw;
  }

  // NAVBAR RESPONSIVE
  .header__navbar__responsive {
    display: initial;
    margin: 0;
    padding: 0;

    .navbar-toggler {
      // background-color: $colorVerde;
      border-radius: 0.1%;

      &-icon {
        size: 100px;
        background: rgb(251, 222, 131);
        background: radial-gradient(
          circle,
          rgba(251, 222, 131, 1) 7%,
          rgba(0, 245, 220, 0.7455357142857143) 31%
        );
        border-radius: 10%;
        border: 1px solid rgba(2, 2, 2, 0.603);
        margin-left: 80%;
        font-size: x-large;
      }
    }
    .navbar-collapse {
      // background-color: black;
    }

    .nav-item {
      color: $colorVerde;
    }

    .nav-link {
      color: $colorVerde;
    }

    .dropdown-menu {
      // background-color: black;
      background-color: transparent;
      font-size: 20px;
    }

    .dropdown-item {
      color: $colorAmarillo;
      text-align: center;
      font-size: 10vw;
    }
  }
  //FIN NAVBAR RESPONSIVE
}
