.sobremi {
  width: 100%;
  height: auto;

  padding-top: 50px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: row;

  overflow: hidden;

  &__info {
    height: auto;
    width: 40%;

    padding-left: 5px;
    padding-right: 5px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    &__texto {
      min-width: 325px;
      max-width: 450px;
      margin: 0 auto;
      height: auto;

      padding: 100px 5px 25px 5px;
      margin-top: -90px;

      background-color: $colorBgSobremi;

      text-align: center;
      font-size: 1rem;
      letter-spacing: 0.1em;
      line-height: 30px;

      position: relative;

      &__letra {
        font-size: 2rem;
      }

      &__titulo {
        width: auto;
        height: auto;
        font-size: 2rem;
        letter-spacing: 4px;
      }
    }

    &__img {
      width: auto;
      height: auto;
      border-radius: 50%;
      z-index: 9;
    }
  }

  &__fotos {
    min-width: 650px;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;

    .jssor_1 {
      position: relative;
      top: 25%;
      max-width: 100%;
      overflow: hidden;
      height: 800px;
    }

    .slides {
      cursor: grab;
      height: 800px;
    }
  }
}

@media only screen and (max-width: 950px) {
  .sobremi {
    flex-direction: column;

    &__info {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }

    .jssor_1 {
      position: relative;
      top: 50px;
      width: 100%;
      overflow: hidden;
      height: 800px;
    }

    .slides {
      width: 100%;
      cursor: grab;
      height: 500px;
    }
  }
}

@media only screen and (max-width: 950px) {
}
